
.foot {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    overflow: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

.n-logo {
  width: 100px;
  margin-left: 25px;
  position: absolute;
  top: 8px;
}
  
.serv-logo {
  width: 25px;
  background-color: aqua;
}

  .foot-content {
    margin-left: 0px;
    width: 90%;
    color: rgb(95, 95, 95);
  }
  
  .f-color {
    color: orange;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .log {
    float: left;
    margin: 20px 10px 0px 0px;
    padding: 8px;
    background-color: orange;
  }
  
  .fa-facebook-f {
    background-color: orange;
    width: 0px;
  }
  
  .media {
    width: 57px;
    height: 57px;
    background-color: orange;
    border-radius: 50px;
    color: white;
    float: left;
    text-align: center;
    margin: 13px 14px 7px 0px;
  }
  
  .link {
    margin-bottom: -20px;
    color: white;
    text-decoration-line: none;
    font-size: 36px;
    font-weight: bold;
    position: relative;
    top: 3px;
  }

.foot-h {
  font-size: 10x;
}
  